.editbox {
  min-width: 100px;
  border: 1px solid black;
  padding: 3px;
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  background: white;
}

body, #editor {
  margin: 0px;
  padding: 0px;
}

.roomHead {
  cursor: pointer;
  text-align: center;
}

.roomHead h1 {
  font-size: 1.1rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

.roomContent {
  display: none;
}

#newRoom {
	position: absolute;
  left: 2px;
	top: 2px;
}

#newRoomName {
	width: 7rem;
}

.editbox input, .editbox textarea, .editbox button {
  width: 100%;
}
