.editbox {
  min-width: 100px;
  border: 1px solid black;
  margin: 5px;
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  background: white;
}

body, #editor {
  margin: 0px;
  padding: 0px;
}

.roomHead {
  cursor: pointer;
  text-align: center;
}

.roomHead h1 {
  font-size: 1.5rem;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.roomContent {
  display: none;
}

input,textarea {
  width: 100%;
}
